[package]
name = "using-quinn"
version = "0.1.0"
authors = ["ustulation <ustulation@gmail.com>"]
edition = "2018"

[dependencies]
quinn = { git = "https://github.com/djc/quinn", rev = "0631950" }
tokio = "*"
unwrap = "*"
bincode = "1.1.2"
bytes = { version = "*", features = ["serde"] }
serde = "*"
serde_derive = "1.0.89"
quick-error = "*"
rcgen = "*"
rustls = "*"

[dev-dependencies]
clap = "2.32.0"
crc = "1.8.1"
log = "0.4.6"
env_logger = "0.6.1"
serde_json = "1.0.39"
config_file_handler = "0.11.0"
rustyline = "*"
unwrap = "1.2.1"
rand = "0.6.5"
