[package]
name = "qp2p"
description = "Peer-to-peer networking library using QUIC"
documentation = "https://docs.rs/qp2p"
homepage = "https://maidsafe.net"
license = "MIT OR BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/maidsafe/qp2p"
version = "0.11.2"
authors = [ "MaidSafe Developers <dev@maidsafe.net>" ]
keywords = [ "quic" ]
edition = "2018"

[dependencies]
base64 = "~0.12.2"
bincode = "1.2.1"
futures = "~0.3.8"
log = "~0.4.8"
rcgen = "~0.8.4"
serde_json = "1.0.59"
structopt = "~0.3.15"
thiserror = "1.0.23"
webpki = "~0.21.3"

  [dependencies.bytes]
  version = "1.0.1"
  features = [ "serde" ]

  [dependencies.igd]
  version = "~0.12.0"
  features = [ "aio" ]
  optional = true

  [dependencies.quinn]
  version = "~0.7.0"
  features = [ "tls-rustls" ]
  default-features = false

  [dependencies.rustls]
  version = "~0.19.0"
  features = [ "dangerous_configuration" ]

  [dependencies.serde]
  version = "1.0.117"
  features = [ "derive" ]

  [dependencies.tokio]
  version = "1.2.0"
  features = [
  "rt",
  "sync",
  "time",
  "macros",
  "io-std",
  "io-util",
  "rt-multi-thread"
]

[dev-dependencies]
flexi_logger = "~0.16.1"
anyhow = "1.0.36"
rand = "~0.7.3"
crc = "1.8.1"
tracing-subscriber = "0.2.16"
tracing = "0.1.25"
crossbeam-channel = "0.5.0"
rustyline = "8.0.0"

[target."cfg(any(all(unix, not(any(target_os = \"android\", target_os = \"androideabi\", target_os = \"ios\"))), windows))".dependencies]
dirs-next = "2.0.0"

[features]
default = [ "igd" ]
no-igd = [ ]
