[package]
name = "qp2p"
description = "Peer-to-peer networking library using QUIC"
documentation = "https://docs.rs/qp2p"
homepage = "https://maidsafe.net"
license = "MIT OR BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/maidsafe/qp2p"
version = "0.8.7"
authors = [ "MaidSafe Developers <dev@maidsafe.net>" ]
keywords = [ "quic" ]
edition = "2018"

[dependencies]
futures = "~0.3.5"
unwrap = "1.2.1"
bincode = "1.2.1"
crossbeam-channel = "~0.4.2"
serde_json = "1.0.59"
flexi_logger = "~0.16.1"
structopt = "~0.3.15"
rcgen = "~0.8.4"
log = "~0.4.8"
base64 = "~0.12.2"
err-derive = "~0.2.4"
webpki = "~0.21.3"

  [dependencies.serde]
  version = "1.0.117"
  features = [ "derive" ]

  [dependencies.quinn]
  version = "~0.6.1"
  features = [ "tls-rustls" ]
  default-features = false

  [dependencies.tokio]
  version = "~0.2.21"
  features = [ "rt-core", "sync", "time", "macros", "io-std", "io-util" ]

  [dependencies.bytes]
  version = "~0.5.5"
  features = [ "serde" ]

  [dependencies.igd]
  version = "~0.11.1"
  features = [ "aio" ]

  [dependencies.rustls]
  version = "~0.17.0"
  features = [ "dangerous_configuration" ]

[dev-dependencies]
rand = "~0.7.3"

[target."cfg(any(all(unix, not(any(target_os = \"android\", target_os = \"androideabi\", target_os = \"ios\"))), windows))".dependencies]
dirs-next = "2.0.0"
